@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "@tailwindcss/typography";

@theme {
  --font-garamond: "EB Garamond", serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
